<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>畅学文库</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <link rel="stylesheet" href="../static/css/weui.min.css" th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/css/swiper.min.css" th:href="@{/css/swiper.min.css}"/>
    <script src="../static/js/swiper.min.js" th:src="@{/js/swiper.min.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-flex">
            <a onclick="history.go(-1);" class="weui-btn weui-btn_mini my-light-blue my-hidden">
                返回
            </a>
            <div class="weui-flex__item weui-btn_mini">
                关于
            </div>
            <a class="weui-btn weui-btn_mini my-light-blue my-hidden">
                关闭
            </a>
        </div>
    </div>
    <div class="weui-tab__panel" style="background-color:#ebebf1">

        <article class="weui_article" style="background-color: white;height:100%">
            <br>
            <br>
            <section align="center">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;这里是关于项目的介绍</p>
            </section>

        </article>
    </div>
</div>
</body>
</html>
