<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>畅学文库</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <link rel="stylesheet" href="../static/css/weui.min.css" th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/css/swiper.min.css" th:href="@{/css/swiper.min.css}"/>
    <script src="../static/js/swiper.min.js" th:src="@{/js/swiper.min.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-flex">
            <a onclick="history.go(-1);" class="weui-btn weui-btn_mini my-light-blue my-hidden">
                返回
            </a>
            <div class="weui-flex__item weui-btn_mini">
                文档详情
            </div>
            <a class="weui-btn weui-btn_mini my-light-blue my-hidden">
                关闭
            </a>
        </div>
    </div>

    <div class="weui-tab__panel" style="background-color:#ebebf1">
        <div class=" preview">
            <div class="page__bd">
                <div class="weui-form-preview">
                    <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">价格 </label>
                        <em class="weui-form-preview__value" th:text="${article.price}">{{article.price}}</em>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">名称 </label>
                            <span class="weui-form-preview__value" th:text="${article.name}"> {{article.name}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">简介 </label>
                            <span class="weui-form-preview__value" th:text="${article.brief}">{{article.brief}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">下载次数 </label>
                            <span class="weui-form-preview__value"
                                  th:text="${article.download}">{{article.download}}</span>
                        </div>
                    </div>
                    <div class="weui-form-preview__ft">
                        <!--
                        <a th:if="${isfavourite}==true" class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">移出收藏</a>
                        <a th:unless="${isfavourite}==true" class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">加入收藏</a>
                        -->
                        <a class="weui-form-preview__btn weui-form-preview__btn_primary"
                           th:href="'/download/'+${article.fid}">
                            立即下载
                        </a>
                    </div>
                    <div>
                        <button id="prev" onclick="goPrevious()">Previous</button>
                        <button id="next" onclick="goNext()">Next</button>
                        &nbsp; &nbsp;
                        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                    </div>

                    <div>
                        <canvas id="the-canvas" style="border:1px solid black"></canvas>
                    </div>

                    <!-- Use latest PDF.js build from Github -->
                    <script type="text/javascript"
                            src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        //
                        // NOTE:
                        // Modifying the URL below to another server will likely *NOT* work. Because of browser
                        // security restrictions, we have to use a file server with special headers
                        // (CORS) - most servers don't support cross-origin browser requests.
                        //
                        var url = 'http://cdn.mozilla.net/pdfjs/tracemonkey.pdf';

                        //
                        // Disable workers to avoid yet another cross-origin issue (workers need the URL of
                        // the script to be loaded, and currently do not allow cross-origin scripts)
                        //
                        PDFJS.disableWorker = true;

                        var pdfDoc = null,
                            pageNum = 1,
                            scale = 0.8,
                            canvas = document.getElementById('the-canvas'),
                            ctx = canvas.getContext('2d');

                        //
                        // Get page info from document, resize canvas accordingly, and render page
                        //
                        function renderPage(num) {
                            // Using promise to fetch the page
                            pdfDoc.getPage(num).then(function (page) {
                                var viewport = page.getViewport(scale);
                                canvas.height = viewport.height;
                                canvas.width = viewport.width;

                                // Render PDF page into canvas context
                                var renderContext = {
                                    canvasContext: ctx,
                                    viewport: viewport
                                };
                                page.render(renderContext);
                            });

                            // Update page counters
                            document.getElementById('page_num').textContent = pageNum;
                            document.getElementById('page_count').textContent = pdfDoc.numPages;
                        }

                        //
                        // Go to previous page
                        //
                        function goPrevious() {
                            if (pageNum <= 1)
                                return;
                            pageNum--;
                            renderPage(pageNum);
                        }

                        //
                        // Go to next page
                        //
                        function goNext() {
                            if (pageNum >= pdfDoc.numPages)
                                return;
                            pageNum++;
                            renderPage(pageNum);
                        }

                        //
                        // Asynchronously download PDF as an ArrayBuffer
                        //
                        PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
                            pdfDoc = _pdfDoc;
                            renderPage(pageNum);
                        });
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>