<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>畅学文库</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <link rel="stylesheet" href="../static/css/weui.min.css" th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/css/swiper.min.css" th:href="@{/css/swiper.min.css}" />
    <script src="../static/js/swiper.min.js" th:src="@{/js/swiper.min.js}" ></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" ></script>
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-flex">
            <a onclick="history.go(-1);" class="weui-btn weui-btn_mini my-light-blue my-hidden">
                返回
            </a>
            <div class="weui-flex__item weui-btn_mini">
                畅学首页
            </div>
            <a class="weui-btn weui-btn_mini my-light-blue my-hidden">
                关闭
            </a>
        </div>
    </div>

    <div class="weui-tab__panel my-light-gray">
        <div class="weui-tab__panel">
            <div class="swiper-container" style="height:200px;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}" class="weui-gallery__img" style="width:100%;height:200px;"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" class="weui-gallery__img" style="width:100%;height:200px;"/>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <img src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon "/>
            <p class="weui-tabbar__label">
                悦学首页
            </p>
        </a>
        <a th:href="@{/app/tab2}" class="weui-tabbar__item" >
            <img src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon"/>
            <p class="weui-tabbar__label">
                悦学文库
            </p>
        </a>
        <a th:href="@{/app/tab3}" class="weui-tabbar__item" >
            <img src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon"/>
            <p class="weui-tabbar__label">
                我的设置
            </p>
        </a>
    </div>
</div>
</body>
<script>
    $(function(){
        new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay: 2000,
            autoplayDisableOnInteraction: false,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            observer: true,
        })
    })
</script>
</html>

