<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>畅学文库</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <link rel="stylesheet" href="../static/css/weui.min.css" th:href="@{/css/weui.min.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/css/swiper.min.css" th:href="@{/css/swiper.min.css}" />
    <script src="../static/js/swiper.min.js" th:src="@{/js/swiper.min.js}" ></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" ></script>
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-flex">
            <a onclick="history.go(-1);" class="weui-btn weui-btn_mini my-light-blue my-hidden">
                返回
            </a>
            <div class="weui-flex__item weui-btn_mini">
                我的设置
            </div>
            <a class="weui-btn weui-btn_mini my-light-blue my-hidden">
                关闭
            </a>
        </div>
    </div>

    <div class="weui-tab__panel my-light-gray">
        <div class="weui-tab__panel">
            <div class="weui-cells__title">
                我的信息
            </div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            我的昵称
                        </p>
                    </div>
                    <div th:text="${user.name}" class="weui-cell__ft">
                        mythss
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            我的等级
                        </p>
                    </div>
                    <div th:text="${user.level}" class="weui-cell__ft">
                        10
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            我的积分
                        </p>
                    </div>
                    <div th:text="${user.point}" class="weui-cell__ft">
                        10
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">
                我的文库
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" th:href="@{/app/favourite}">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            我的收藏
                        </p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" th:href="@{/app/upload}">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            我要上传
                        </p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells__title">
                关于
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" th:href="@{/app/about}">
                    <div class="weui-cell__hd">
                        <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" alt="" style="width:20px;margin-right:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>
                            关于
                        </p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div style="height:70px">
            </div>
        </div>
        <!-- setting-page end-->
    </div>
    <div class="weui-tabbar">
        <a th:href="@{/app/tab1}" class="weui-tabbar__item ">
            <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon "/>
            <p class="weui-tabbar__label">
                畅学首页
            </p>
        </a>
        <a th:href="@{/app/tab2}" class="weui-tabbar__item" >
            <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon"/>
            <p class="weui-tabbar__label">
                畅学文库
            </p>
        </a>
        <a href="#" class="weui-tabbar__item weui-bar__item_on" >
            <img  src="../static/icons/icon_tabbar.png" th:src="@{/icons/icon_tabbar.png}" class="weui-tabbar__icon"/>
            <p class="weui-tabbar__label">
                我的设置
            </p>
        </a>
    </div>
</div>
</body>
</html>

